* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    height: 64px;
    background-color: #2196F3;
    margin-bottom: 52px;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(2, 120px);
}

.navlink {
    color: #fff;
    height: 64px;
    width: 120px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.activeLink {
    color: #FFFFFFB2;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cats {
    display: grid;
    grid-template-columns: repeat(5, 225px);
    grid-gap: 48px;
}

.catBlock {
    position: relative;
    justify-content: center;
    align-items: center;
    transition: .6s ease-in-out;
    cursor: pointer;
}

.catBlock:hover {
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
    transform: scale(1.1);
}


.catBlock .catImg {
    transition: .6s ease-in-out;
    width: 225px;
    height: 225px;
}

.catBlock:hover .catImg {
    transform: scale(1.1);
}

.catBlock .heartImg {
    opacity: 0%;
    transition: opacity .6s ease-in-out;
    height: 37px;
    width: 40px;
}

.catBlock:hover .heartImg {
    opacity: 100%;
}


.heartImg {
    position: absolute;
    right: 20px;
    bottom: 25px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footerContent {
    display: grid;
    justify-items: center;
}
.catLoader {
    width: 88px;
    height: 88px;

}

@media (max-width: 1370px) {
    .cats {
        display: grid;
        grid-template-columns: repeat(4, 225px);
        grid-gap: 48px;
    }

}

@media (max-width: 1080px) {
    .cats {
        display: grid;
        grid-template-columns: repeat(3, 225px);
        grid-gap: 48px;
    }

}

@media (max-width: 810px) {
    .cats {
        display: grid;
        grid-template-columns: repeat(2, 225px);
        grid-gap: 48px;
    }

}

@media (max-width: 540px) {
    .cats {
        display: grid;
        grid-template-columns: repeat(1, 225px);
        grid-gap: 48px;
    }

}
